.gridster-item {
  background-color: #c5e0ed;
  overflow: hidden;
  background-position: center center;
}
.gridster-item .form-item {
  padding: 15px;
  overflow: hidden;
  margin: 0;
  opacity: 0;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}
.gridster-item:hover .form-item {
  opacity: 1;
}
.gridster-item .form-item + .form-item {
  padding: 0;
  margin: 0;
}
.gridster-item .form-item .file--image,
.gridster-item .form-item .file-size {
  display: none;
}
.gridster-item .button {
  margin: 0 !important;
  padding: 10px 30px;
  font-size: 1.250em;
  display: inline-block;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 3px;
  position: absolute;
  background-color: RGBA(255, 255, 255, 0.5);
  bottom: 30px;
  left: 30px;
  background-image: none;
}
.gridster-item .gs-resize-handle-both {
  width: 30px;
  height: 30px;
  background-size: 50%;
}
.add {
  bottom: 0px;
  overflow: hidden;
  position: absolute;
}
.gridster > div {
  padding-bottom: 150px;
}
