{#
/**
 * @file
 * Default theme implementation to display a multi file form widget.
 *
 * Available variables:
 * - element: The form element for uploading another file.
 *
 * @see template_preprocess_gridster_widget()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'gridster',
  ]
%}
<div{{ attributes.addClass(classes) }}>
{{ element }}
</div>

